@using InfnetPos.Mvc.TrabalhoFinal.Presentation.Mvc.Controllers
@model InfnetPos.Mvc.TrabalhoFinal.Presentation.Mvc.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="@nameof(QuestionController.Index)">Back to List</a>
</div>
